<!DOCTYPE html>
  <html>
    <head>
    	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <title>
    Centrale
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
    	<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id = "logo_header"class="navbar-brand" href="#"><img src="" style="height:52px"></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="font-size:22px;color:black">

        <span class="icon-bar" style="color:black;border:1px solid black"></span>
        <span class="icon-bar" style="color:black;border:1px solid black"></span>
        <span class="icon-bar" style="color:black;border:1px solid black"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li class="active"><a href="">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="log"><span class="glyphicon glyphicon-user"></span> LOGIN</a></li>
      <li><a href="sign"><span class="glyphicon glyphicon-log-in"></span> SIGNUP</a></li>
    </ul>
  </div>
  </div>
</nav>
<footer id="footer">Buy, Sell and Travel like never before!!</footer>
<style type="text/css">
	.container-fluid{
		font-size: 20px;

	}
	#footer
{
	position: absolute;
	bottom: 0px;
	text-align: right;
	width:99vw;
	padding: 20px;
	font-size: 35px;
	color:#337ab7;
	font-family: spring;
}
</style>
    </body>
    </html>